.locations {
	height: 100%;
	width: 25%;
	border-right: #DDDDDD 1px solid;
	margin: ;
	padding: ;
	position: absolute;
	line-height: 0;
}
.locations h3 {
	font-weight: 600;
	position: relative;
	left: 25%;
	top: 8.75px;
       	
}
.locations h4 {
	font-weight: 400;
	font-size: 14px;
        position: relative;
        left: 25%;
        top: 8.75px;
}
.amenities {
	height: 100%;
	width:25%;
	margin: 0;
        padding: 0;
        position: absolute;
        line-height: 0;
}
.amenities h3 {
	font-weight: 600;
        position: relative;
        left: 125%;
        top: 8.75px;
}
.amenities h4 {
	font-weight: 400;
        font-size: 14px;
        position: relative;
        left: 125%;
        top: 8.75px;
}
