.places h1 {
	font-size: 30px;
}

.places {
    
}
.v {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .x, .y, .z {
        flex-basis: 100%;
    }
}

.x, .y, .z {
    flex: 1 1 30%;
    margin: 20px;
    padding: 20px;
	width: 390px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.x h2, .y h2, .z h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.z {
	position: relative;
	left: 50%;
	transform: translateX(-55%);
}